.list-group li,
.list-group ul li,
.list-group ul {
  margin: 0;
  padding: 0;
}
.list-group li {
  font-size: 14px;
  font-weight: bold;
  border-bottom: 0;
}
.list-group li span {
  margin-left: 20px;
}
.list-group li a {
  display: block;
  padding: 12px 0;
}
.list-group li > ul li {
  border: 0;
}
.list-group li > ul li span {
  margin-left: 40px;
}
#nav2 li:hover {
  background: #ccc;
}
#right .icon {
  width: 100px;
  height: 100px;
  border: 1px solid #cdcdcd;
  padding: 10px;
  margin-bottom: 20px;
}
#right .text {
  position: absolute;
  left: 150px;
  top: 20px;
  line-height: 30px;
}
#right .top {
  border-bottom: 1px solid #cdcdcd;
}
#right .allp {
  margin: 20px 0;
  font-size: 12px;
}
#right .p1 {
  position: absolute;
  left: 80px;
  top: 0px;
}
#right .p1 .span1 {
  font-weight: bold;
  display: block;
  margin-bottom: -12px;
}
#next {
  border-bottom: 1px solid #cdcdcd;
}
.list-group .white {
  border-bottom: 0;
  padding-left: 50px;
}
