.container .col-sm-3 ul,
.container .col-sm-3 li,
.container .col-sm-3 li ul,
.container .col-sm-3 li ul li {
  margin: 0;
  padding: 0;
}
.container .col-sm-3 a {
  display: block;
  padding: 10px 0;
}
.container .col-sm-3 li {
  border-bottom: 0;
  font-size: 14px;
  font-weight: bold;
}
.container .col-sm-3 li span {
  padding-left: 12px;
}
.container .col-sm-3 li ul li {
  border: 0;
}
.container .col-sm-3 li ul li span {
  padding-left: 30px;
}
.one,
.two {
  width: 140px;
  height: 120px;
  border: 1px solid #cdcdcd;
}
.one .front {
  background: #337ab7;
  font-size: 13px;
  line-height: 20px;
  margin: 5px;
  text-align: center;
}
.one .small {
  width: 110px;
  height: 80px;
  border: 1px solid #cdcdcd;
  position: relative;
  left: 14px;
  top: 3px;
}
.two .back {
  background: #337ab7;
  font-size: 13px;
  line-height: 20px;
  margin: 5px;
  text-align: center;
}
.two .small {
  width: 110px;
  height: 80px;
  border: 1px solid #cdcdcd;
  position: relative;
  left: 14px;
  top: 3px;
}
.img {
  position: absolute;
  top: 20px;
  display: none;
}
.img img {
  width: 80px;
  height: 100px;
}
.img img .img2 {
  position: absolute;
  top: 100px;
}
