.alert {
  border-radius: 0;
  border-left: 2px solid #00f;
  margin-top: 5px;
}
.contain {
  height: 700px;
  border: 1px solid #cdcdcd;
  margin-top: -21px;
  margin-bottom: 20px;
}
.table thead th {
  font-size: 18px;
}
.table tbody td {
  height: 50px;
  font-size: 16px;
}
.table tbody .first {
  background: url(../images/bank_list.png);
  background-repeat: no-repeat;
  background-position: top 10px left 5px;
}
.table tbody .second {
  background: url(../images/bank_list.png);
  background-repeat: no-repeat;
  background-position: top -28px left 5px;
}
.table tbody .three {
  background: url(../images/bank_list.png);
  background-repeat: no-repeat;
  background-position: top -63px left 5px;
}
.text {
  margin-left: 20px;
  color: #00f;
}
.text p {
  font-size: 12px;
}
