.list-group li,
.list-group ul li,
.list-group ul {
  margin: 0;
  padding: 0;
}
.list-group li {
  font-size: 14px;
  font-weight: bold;
  border-bottom: 0;
}
.list-group li span {
  margin-left: 20px;
}
.list-group li a {
  display: block;
  padding: 12px 0;
}
.list-group li > ul li {
  border: 0;
}
.list-group li > ul li span {
  margin-left: 40px;
}
